* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #267772;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #ffffff;
  opacity: 1.0;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.hover {
  background-color: #267772;
  opacity: 0.8;
}

